<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="" name="description" />
        <meta content="webthemez" name="author" />
        <title>爱恩吉后台管理</title>
        <!-- Bootstrap Styles-->
        <link href="/static/admin/css/bootstrap.css" rel="stylesheet" />
        <!-- FontAwesome Styles-->
        <link href="/static/admin/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
        <link href="/static/admin/css/custom-styles.css" rel="stylesheet" />
        <!-- Google Fonts-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <style type="text/css">
            .leader-show textarea, .intro-text, .quality-content {
                height: 150px;
                width: 100%;
            }

            .leader-pic {
                max-width: 100px;
                margin: 10px 0;
            }

            .up-leader-btn {
                margin-top: 10px;
            }

            .infos pre {
                line-height: 25px;
            }

            .weixin-up-label, .qq-up-label {
                margin-top: 10px;
            }

            .info-show-pic {
                display: block;
                max-width: 100px;
                margin-top: 10px;
            }
            #sideNav {
                float: right!important;
            }

            .qq-up-label, .weixin-up-label {
                margin-bottom: 10px;
            }

            .up-info {
                margin-bottom: 10px;
            }

            img {
                max-width: 100%;
            }

            .loading {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.5;
                z-index: 1000;
            }

            .loading img {
                display: block;
                width: 120px;
                margin: 300px auto;
                border: none;
            }

            .show {
                display: block;
            }
        </style>
        </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">简介管理</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <strong>
                            <i class="icon fa fa-plane"></i>爱恩吉后台管理</strong>
                    </a>
                    <div id="sideNav" href="">
                        <i class="fa fa-bars icon"></i>
                    </div>
                </div>
            </nav>
            <%-include( './side.html', {item: 'about'}) %>
                <!-- /. NAV SIDE -->
                <div id="page-wrapper">
                    <div class="header">
                        <h1 class="page-header">简介管理</h1>
                    </div>
                    <!-- <div class="col-xs-12 panel panel-default leader-show">
                        <div class="form-group">
                            <p class="help-block">设置董事长寄语</p>
                            <div class="form-group">
                                <label for="exampleInputEmail1">寄语</label>
                                <textarea class="form-control" id="leaderShow" placeholder="董事长寄语"><%-leader[0].tell%>
                                </textarea>
                                <img src="<%-leader[0].pic%>" class="leader-pic">
                            </div>
                            <label for="leader-pic-input">上传董事长照片</label>
                            <input type="file" class="leader-pic-input">
                            <div class="btn btn-default up-leader-btn">提交</div>
                        </div>
                    </div> -->
                    <div class="col-xs-12 panel panel-default intro-show">
                        <div class="form-group">
                            <p class="help-block">公司简介设置</p>
                            <div class="form-group">
                                <textarea class="intro-text" id="leaderShow" placeholder="公司简介"><%-intro[0].intro%>
                                </textarea>
                            </div>
                            <div class="btn btn-default up-intro-btn">提交</div>
                        </div>
                    </div>
                    <div class="col-xs-12 panel panel-default quality-show">
                        <div class="form-group">
                            <p class="help-block">质量管理设置</p>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">质量管理文案</label>
                                    <textarea class="quality-content" id="qualityShow" placeholder="质量管理文案"><% if (quality[0]) %><%-quality[0].content %>
                                    </textarea>
                                    <img src="<% if (quality[0]) %> <%-quality[0].pic %>" class="quality-pic">
                                </div>
                            <label for="quality-pic-input">上传质量管理流程图</label>
                            <input type="file" class="quality-pic-input">
                            <div class="btn btn-default up-quality-btn">提交</div>
                        </div>
                    </div>
                    <div class="col-xs-12 panel panel-default">
                        <div class="form-group">
                            <p class="help-block">添加资质证书</p>
                            <div class="form-group">
                                <label for="exampleInputEmail1">中文title</label>
                                <input type="email" class="form-control" id="cardTitle" placeholder="title">
                            </div>
                            <label for="card-up">上传资质证书</label>
                            <input type="file" class="card-up">
                        </div>
                        <div class="btn btn-default up-card">上传</div>
                        <p class="help-block">资质证书管理</p>
                        <div class="col-xs-6 col-md-12">
                            <% if (card) card.forEach(function(item) { %>
                                <div class="panel panel-default card-item">
                                    <div class="panel-body">
                                        <h4><%-item.title %></h4>
                                        <div class="easypiechart" id="easypiechart-orange" data-percent="55">
                                            <img class="col-xs-12" src="<%-item.pic %>">
                                        </div>
                                        <div class="btn btn-default col-xs-12 card-del" data-id="<%-item._id%>">删除</div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                    <!-- <div class="col-xs-12 panel panel-default">
                        <div class="form-group">
                            <p class="help-block">添加公司基本信息</p>
                            <div class="form-group">
                            <% var item = info[0] || {}%>
                                <label for="exampleInputEmail1">公司名称</label>
                                <input class="form-control" id="companyTitle" placeholder="请填写" value="<%-item.title%>">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">公司联系人</label>
                                <input class="form-control" id="companyPerson" placeholder="请填写" value="<%-item.person%>">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">公司固话</label>
                                <input class="form-control" id="companyPhone" placeholder="请填写" value="<%-item.phone%>">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">公司传真</label>
                                <input class="form-control" id="companyPhone2" placeholder="请填写" value="<%-item.phone2%>">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">邮箱</label>
                                <input class="form-control" id="companyEmail" placeholder="请填写" value="<%-item.email%>">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">微信</label>
                                <input class="form-control" id="companyWechart" placeholder="请填写" value="<%-item.wechart%>">
                                <label for="weixin-up" class="weixin-up-label">上传微信二维码</label>
                                <input type="file" class="info-up weixin-up">
                                <img src="<%-item.wechartPic %>" class="info-show-pic">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">qq</label>
                                <input class="form-control" id="companyQq" placeholder="请填写"  value="<%-item.qq%>">
                                <label for="qq-up" class="qq-up-label">上传qq二维码</label>
                                <input type="file" class="info-up qq-up">
                                <img src="<%-item.qqPic %>" class="info-show-pic">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">移动电话</label>
                                <input class="form-control" id="companyMobile" placeholder="请填写" value="<%-item.mobile%>">
                            </div>
                        </div>
                        <div class="btn btn-default up-info">上传</div>
                    </div> -->
                    <div id="page-inner">
                    </div>
                    <!-- /. PAGE INNER -->
                </div>
            </div>
            <div class="loading">
                <img src="/static/admin/img/loading.gif">
            </div>
        <!-- /. WRAPPER -->
        <!-- JS Scripts-->
        <!-- jQuery Js -->
        <!-- <script src="/static/admin/js/jquery-1.10.2.js"></script> -->
        <!-- Bootstrap Js -->
        <script src="/static/admin/js/bootstrap.min.js"></script>
        <!-- Metis Menu Js -->
        <script src="/static/admin/js/jquery.metisMenu.js"></script>
        <!-- Custom Js -->
        <script src="/static/admin/js/custom-scripts.js"></script>

        <script type="text/javascript">
            // 上传董事长发言
            $('.up-leader-btn').on('click', function () {
                var imgs = [];
                var reader = new FileReader();
                var img = $('.leader-pic-input').val();
                var content = $('.form-control').val();
                var oldPic = '<%-leader[0].pic%>';

                $('.leader-pic-input').each(function() {
                    if (this.files.length) {
                        reader.readAsDataURL(this.files[0]);
                    }
                });

                if (!img && oldPic && content) {

                    pushData();
                }

                if (!content || (!img && !oldPic)) {
                    alert('信息录入不全，请重新输入');
                }

                reader.onload = function(e) {
                    imgs.push(this.result);

                    if (imgs.length && imgs.length === $('.leader-pic-input').length && content) {
                        pushData();
                    }
                    else {
                        alert('信息录入不全，请重检查');
                    }
                }

                function pushData() {
                    $('.loading').addClass('show');
                    if (!imgs.length) {
                        imgs.push(oldPic);
                    }

                    var data = {
                        tell: content,
                        pic: imgs || oldPic
                    };

                    var dataStr = JSON.stringify(data);
                    var successFn = function(e) {
                        $('.loading').removeClass('show');
                        window.location.reload();
                    };

                    $.ajax({
                        method: 'POST',
                        contentType: 'application/json;charset=utf-8',
                        url: '/admin/add/leader',
                        data: dataStr,
                        success: successFn,
                        err: function() {
                            alert('err');
                        }
                    });
                }
            });

            // 上传质量体系
            $('.up-quality-btn').on('click', function () {
                var imgs = [];
                var reader = new FileReader();
                var img = $('.quality-pic-input').val();
                var content = $('#qualityShow').val();
                var oldPic = '<% if (quality[0]) %> <%-quality[0].pic %>';

                $('.quality-pic-input').each(function() {
                    if (this.files.length) {
                        reader.readAsDataURL(this.files[0]);
                    }
                });

                if (!img && oldPic && content) {

                    pushData();
                }

                if (!content || (!img && !oldPic)) {
                    alert('信息录入不全，请重新输入');
                }

                reader.onload = function(e) {
                    imgs.push(this.result);

                    if (imgs.length && imgs.length === $('.quality-pic-input').length && content) {
                        pushData();
                    }
                    else {
                        alert('信息录入不全，请重检查');
                    }
                }

                function pushData() {
                    $('.loading').addClass('show');
                    if (!imgs.length) {
                        imgs.push(oldPic);
                    }

                    var data = {
                        content: content,
                        pic: imgs || oldPic
                    };

                    var dataStr = JSON.stringify(data);
                    var successFn = function(e) {
                        $('.loading').removeClass('show');
                        window.location.reload();
                    };

                    $.ajax({
                        method: 'POST',
                        contentType: 'application/json;charset=utf-8',
                        url: '/admin/add/quality',
                        data: dataStr,
                        success: successFn,
                        err: function() {
                            alert('err');
                        }
                    });
                }
            });

            // 上传公司简介
            $('.up-intro-btn').on('click', function (e) {
                var intro = $('.intro-text').val();

                if (intro) {
                    pushData();
                }
                else {
                    alert('公司简介不能为空');
                }

                function pushData() {
                    $('.loading').addClass('show');

                    var data = {
                        intro: intro
                    };

                    var dataStr = JSON.stringify(data);
                    var successFn = function(e) {
                        $('.loading').removeClass('show');
                        window.location.reload();
                    };

                    $.ajax({
                        method: 'POST',
                        contentType: 'application/json;charset=utf-8',
                        url: '/admin/add/intro',
                        data: dataStr,
                        success: successFn,
                        err: function() {
                            alert('公司简介设置出错，请稍后重试');
                        }
                    });
                }
            });

            // 上传资质证书
            $('.up-card').on('click', function () {
                var imgs = [];
                var reader = new FileReader();
                var title = $('#cardTitle').val();

                $('.card-up').each(function() {
                    if (this.files.length) {
                        reader.readAsDataURL(this.files[0]);
                    }
                });

                reader.onload = function(e) {
                    imgs.push(this.result);

                    if (imgs.length && imgs.length === $('.card-up').length && title) {
                        pushData();
                    }
                    else {
                        alert('信息录入不全，请重检查');
                    }
                }

                function pushData() {
                    $('.loading').addClass('show');

                    var data = {
                        title: title,
                        pic: imgs
                    };

                    // $.each(data, function (index, item) {
                    //     if (!item) {
                    //         debugger
                    //         alert('信息填写不完整');
                    //         return false;
                    //     }
                    // });

                    var dataStr = JSON.stringify(data);
                    var successFn = function(e) {
                        $('.loading').removeClass('show');
                        window.location.reload();
                    };

                    $.ajax({
                        method: 'POST',
                        contentType: 'application/json;charset=utf-8',
                        url: '/admin/add/card',
                        data: dataStr,
                        success: successFn,
                        err: function() {
                            alert('err');
                        }
                    });
                }
            });
            // 删除资质证书
            $('.card-del').on('click', function (e) {
                var id = $(e.target).attr('data-id');

                $.ajax({
                    method: 'GET',
                    url: '/admin/delete/card',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            window.location.reload();
                        }
                    },
                    err: function(data) {
                        alert(data.msg);
                    }
                });
            });

            // 上传公司信息
            $('.up-info').on('click', function () {
                var qqPic,
                    wechartPic,
                    picNum = newPicNum = 0;
                var title = $('#companyTitle').val();
                var phone = $('#companyPhone').val();
                var phone2 = $('#companyPhone2').val();
                var mobile = $('#companyMobile').val();
                var person = $('#companyPerson').val();
                var wechart = $('#companyWechart').val();
                var email = $('#companyEmail').val();
                var qq = $('#companyQq').val();

                var data = {
                    title: title,
                    phone: phone,
                    phone2: phone2,
                    mobile: mobile,
                    person: person,
                    wechart: wechart,
                    email: email,
                    qq: qq
                };

                if (!checkData(data)) {
                    return false;
                }

                $('.info-up').each(function(index) {
                    if (this.files.length) {
                        let me = this;
                        let reader = new FileReader();
                        newPicNum++;
                        console.log('发现一个新照片');

                        reader.readAsDataURL(this.files[0]);
                        console.log(index);
                        reader.onload = function() {
                            picNum++;
                            console.log('读取一个新照片');
                            if ($(me).hasClass('weixin-up')) {
                                wechartPic = this.result;
                            }
                            else {
                                qqPic = this.result;
                            }

                            if (picNum === newPicNum) {
                                pushData();
                            }
                        }
                    }
                });

                if (!newPicNum) {
                    console.log('没有新照片');
                    pushData();
                }


                function pushData() {
                    $('.loading').addClass('show');
                    var oldWechart = '<%-item.wechartPic %>';
                    var oldQq = '<%-item.qqPic %>';

                    data.qqPic = qqPic || oldQq;
                    data.wechartPic = wechartPic || oldWechart;

                    if (!checkData(data)) {
                        return false;
                    }

                    var dataStr = JSON.stringify(data);

                    var successFn = function(e) {
                        $('.loading').removeClass('show');
                        console.log(e);
                        window.location.reload();
                    };

                    $.ajax({
                        method: 'POST',
                        contentType: 'application/json;charset=utf-8',
                        url: '/admin/add/companyinfo',
                        data: dataStr,
                        success: successFn,
                        err: function() {
                            alert('err');
                        }
                    });
                }
            });

            /**
             * 验证必填信息完整性
             *
             * @param  {[type]} data [description]
             * @return {[type]}      [description]
             */
            function checkData(data) {
                var status = true;
                if (typeof data !== 'object') {
                    return false;
                }

                $.each(data, function (key, value) {
                    console.log(key, value);
                    if (!value) {
                        console.log(key, value);
                        alert('信息填写不完整');
                        status = false;
                        return false;
                    }
                });
                console.log(status);
                return status;
            }
        </script>
    </body>

</html>