<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="" name="description" />
        <meta content="webthemez" name="author" />
        <title>爱恩吉后台管理</title>
        <!-- Bootstrap Styles-->
        <link href="/static/admin/css/bootstrap.css" rel="stylesheet" />
        <!-- FontAwesome Styles-->
        <link href="/static/admin/css/font-awesome.css" rel="stylesheet" />
        <!-- Custom Styles-->
        <link href="/static/admin/css/custom-styles.css" rel="stylesheet" />
        <!-- Google Fonts-->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /></head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <strong>
                            <i class="icon fa fa-plane"></i>BRILLIANT</strong>
                    </a>
                    <div id="sideNav" href="">
                        <i class="fa fa-bars icon"></i>
                    </div>
                </div>
            </nav>
            <%-include( './side.html', {item: 'home'}) %>
                <!-- /. NAV SIDE -->
                <div id="page-wrapper">
                    <div class="header">
                        <h1 class="page-header">Empty Page
                            <small>Create new page.</small></h1>
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">Home</a></li>
                            <li>
                                <a href="#">Empty</a></li>
                            <li class="active">Data</li></ol>
                    </div>
                    <div id="page-inner">
                        <footer>
                            <p>Copyright &copy; 2016.Company name All rights reserved.
                                <a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                        </footer>
                    </div>
                    <!-- /. PAGE INNER --></div>
                <!-- /. PAGE WRAPPER --></div>
        <!-- /. WRAPPER -->
        <!-- JS Scripts-->
        <!-- jQuery Js -->
        <script src="/static/admin/js/jquery-1.10.2.js"></script>
        <!-- Bootstrap Js -->
        <script src="/static/admin/js/bootstrap.min.js"></script>
        <!-- Metis Menu Js -->
        <script src="/static/admin/js/jquery.metisMenu.js"></script>
        <!-- Custom Js -->
        <script src="/static/admin/js/custom-scripts.js"></script>
    </body>

</html>