<!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="<% if (item === 'home') { %> active-menu <% } %>" href="/admin/home"><i class="fa fa-dashboard"></i>首页</a>
                    </li>
                    <li>
                        <a class="<% if (item === 'news') { %> active-menu <% } %>" href="/admin/news"><i class="fa fa-desktop"></i>新闻</a>
                    </li>
					 <li>
                        <a class="<% if (item === 'product') { %> active-menu <% } %>" href="/admin/product"><i class="fa fa-sitemap"></i>产品<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="chart.html">Charts JS</a>
                            </li>
                            <li>
                                <a href="morris-chart.html">Morris Chart</a>
                            </li>
							</ul>
						</li>
                    <li>
                        <a href="/admin/down" class="<% if (item === 'down') { %> active-menu <% } %>"><i class="fa fa-qrcode"></i>下载管理</a>
                    </li>
                    <li>
                        <a href="/admin/about" class="<% if (item === 'about') { %> active-menu <% } %>"><i class="fa fa-table"></i>简介</a>
                    </li>
                    <li>
                        <a href="form.html" class=""><i class="fa fa-edit"></i> Forms </a>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="empty.html"><i class="fa fa-fw fa-file"></i> Empty Page</a>
                    </li>
                </ul>

            </div>
        </nav>