<!DOCTYPE html>
<html lang="en" style=" "><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>苏州爱恩吉新能源--产品中心</title>
    <meta name="author" content="苏州爱恩吉新能源--产品中心">
    <meta name="copyright" content="苏州爱恩吉新能源--产品中心">
    <meta name="description" content="苏州爱恩吉新能源--产品中心">
    <meta name="keywords" content="苏州爱恩吉新能源--产品中心">
    <meta name="searchtitle" content="苏州爱恩吉新能源--产品中心">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telphone=no, email=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="./static/product/rest.css">
    <link rel="stylesheet" type="text/css" href="./static/product/base.css">
    <style type="text/css">
        .on {
            overflow: hidden;
        }

        .on .txt img {
            display: none;
        }

        .product {
            width: 73%!important;
        }

        .infos h5 {
            font-size: 46px;
            line-height: 56px;
            margin-bottom: 10px;
        }

        .infos p {
            font-size: 30px;
            color: #2193d2;
        }
    </style>

<script src="./static/product/share.js"></script></head>
<body style="left: 0px;">
<%-include('../common/head.html', {item:'product'}) %>
<!-- notice over -->
<link rel="stylesheet" type="text/css" href="./static/product/product.css">

<!-- m-banner -->
<div class="m-banner" style="background-image:url(<%-banner[0].pic%>)">
    <div class="infos">
        <h5><%-banner[0].title%></h5>
        <p><%-banner[0].english%></p>
    </div>
</div>
<!-- m-banner over -->
<!-- main -->
<div class="main">
    <div class="wrap">
        <div class="productClass">
            <div class="top" style="background-image:url(/Public/images/product/t.png)">
                <h5><span>产品分类</span></h5>
            </div>
            <div class="content">
                <% type1.forEach(function (item) { %>
                <div class="child">
                    <% if (item.id === type1Id ) { %>
                        <h6 class="current"><%-item.title%></h6>
                        <div class="childMian" style="display: block">
                    <% } else { %>
                        <h6><%-item.title%></h6>
                        <div class="childMian">
                    <% } %>
                        <% type2.forEach(function (items) { if (items.type1Id === item.id) { %>
                            <a href="/product?type1=<%-item.id%>&type2=<%-items.id%>">
                                <% if (items.id === type2Id ) { %>
                                    <p class="ph">
                                <% } else { %>
                                    <p class="">
                                <% } %>
                                    <span>−</span>
                                    <%-items.title%>
                                </p>
                            </a>
                        <% }}) %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <div class="product">
            <ul>
                <% product.forEach(function (item) {%>
                <a href="/product/detail?id=<%-item.id%>">
                    <li>
                        <div class="liClid">
                            <div class="imgs">
                                <img src="<%-item.detailPic%>">
                            </div>
                            <p><%-item.title%></p>
                        </div>
                        <div class="hover">
                            <div class="bg"></div>
                            <div class="txt">
                                <%-item.detailNum%>
                            </div>
                            <span class="more">
                                <img src="./static/product/m.png" alt="">
                            </span>
                        </div>
                    </li>
                </a>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<!-- main over -->
<% include ../common/footer.html%>

<script src="./static/product/jquery.js"></script>
<script src="./static/product/base.js"></script>
<script src="./static/product/documentSize.js"></script>
<script src="./static/product/dydong.change.js"></script>
<script src="./static/product/show.js"></script>
<script src="./static/product/keepscroll.js"></script>


<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api//Public/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<script src="./static/product/product.js"></script>
<script type="text/javascript">
    // function GetQueryString(name) {
    //     var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    //     var r = window.location.search.substr(1).match(reg);
    //     if (r != null) return unescape(r[2]);
    //     return null;
    // }

    // var k = GetQueryString("type1");

    // if (!k) {
    //     k = 0;
    // }

    // $('.main .productClass .content h6').eq(k).addClass('current');
    // $('.main .productClass .content .childMian').eq(k).stop().slideDown();
    // $('.main .productClass .content h6 .childMian p').eq(k).addClass('ph');


</script></body></html>