<!DOCTYPE html>
<html lang="en" style=" "><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>爱恩吉新能源--新闻中心</title>
    <meta name="author" content="爱恩吉新能源--新闻中心">
    <meta name="copyright" content="爱恩吉新能源--新闻中心">
    <meta name="description" content="爱恩吉新能源--新闻中心">
    <meta name="keywords" content="爱恩吉新能源--新闻中心">
    <meta name="searchtitle" content="爱恩吉新能源--新闻中心">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telphone=no, email=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="/static/news/rest.css">
    <link rel="stylesheet" type="text/css" href="/static/news/base.css"></head>
<body>
<%-include('../common/head.html', {item:'news'}) %>
<link rel="stylesheet" type="text/css" href="/static/news/new.css">

<style type="text/css">
    .hide {
        display: none;
    }
</style>
<!-- banner -->
<div class="m-banner" style="background-image:url(/static/news/news-banner.jpg)">
    <div class="infos">
        <h5>NEWS CENTER</h5>
        <p>新闻中心</p>
    </div>
</div>
<!-- banner over-->
<!-- baseT -->
<div class="baseT">
    <div class="container">
        <h5>新闻动态</h5>
        <span></span>
    </div>
</div>
<!-- baseT over-->
<!-- small_nav -->
<div class="main">
    <div class="wrap">
        <ul class="nav">
            <a href="/news?type=1">
                <li>公司新闻</li>
            </a>
            <a href="/news?type=2">
                <li>行业动态</li>
            </a>
        </ul>
        <div class="cont_box">
            <div class="main_cont" style="display: block;">
                <ul>
                    <% news.forEach(function(item) { %>
                    <a href="/news/detail?id=<%-item.id%>">
                        <li>
                            <div class="imgs">
                                <div class="hide"><%-item.content%></div>
                                <img src="/static/news/default.jpg" alt="" class="shortImg">
                            </div>
                            <div class="info">
                                <span><%-item.date%></span>
                                <h5><%-item.title%></h5>
                                <p><%-item.intro%></p>
                                <em class="more">
                                    <i class="t">查看更多</i><i><img src="/static/news/m.png" alt=""></i>
                                </em>
                            </div>
                        </li>
                    </a>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- small_nav over-->
<% include ../common/footer.html%>


<script src="/static/news/jquery.js"></script>
<script src="/static/news/base.js"></script>
<script src="/static/news/documentSize.js"></script>
<script src="/static/news/dydong.change.js"></script>
<script src="/static/news/show.js"></script>
<script src="/static/news/keepscroll.js"></script>


<script>
    var type;
    var hash = window.location.search;

    $('.imgs').each(function (index, item) {
        var hide = $(item).children('.hide');
        var source = hide.find('img');
        var pic = $(source).attr('src');

        var img = $(item).find('.shortImg');

        img.attr('src', pic);
    });

    if (hash.indexOf('type=1') > -1) {
        $('a[href="/news?type=1"').find('li').addClass('on');
    }
    else if (hash.indexOf('type=2') > -1) {
        $('a[href="/news?type=2"').find('li').addClass('on');
    }
</script>
<script src="/static/news/new.js"></script></body></html>