<style type="text/css">
    .footer .f-log {
        width: 440px!important;
        margin-right: 70px!important;
    }

    .footer a {
        color: "#969696";
    }

    .footer a:visited {
        color: "#969696";
    }

    html, body {
        font-size: 40px;
    }
</style>
<!-- footer -->
<div class="footer">
    <div class="footerWrap">
        <div class="menu">
            <dl>
                <dt>关于我们</dt>
                <!-- <a href="/about?as=k1">
                    <dd>董事长寄语</dd></a> -->
                <a href="/about?as=k2">
                    <dd>公司简介</dd></a>
                <a href="/about?as=k3">
                    <dd>组织架构</dd></a>
                <a href="/about?as=k4">
                    <dd>质量管理</dd></a>
                <a href="/about?as=k5">
                    <dd>资质认证</dd></a>
            </dl>
            <dl>
                <dt>产品中心</dt>
                <% type2.forEach((item, index) => { %>
                    <a href="/product?id=<%-item.id%>">
                        <dd><%-item.title%></dd>
                    </a>
                <% }) %>
                <a href="/product">
                    <dd>查看更多</dd>
                </a>
            </dl>
            <dl>
                <dt>新闻中心</dt>
                <a href="/news?type=1">
                    <dd>公司新闻</dd></a>
                <a href="/news?type=2">
                    <dd>行业动态</dd></a>
            </dl>
        </div>
        <a href="/home" class="f-log">
            <img src="/static/about/logo-w.png" alt="" /></a>
        <div class="contact">
            <h6>联系我们</h6>
            <div class="hotTel">
                <p>全国服务热线:</p>
                <p>
                    <span><%-info[0].phone%></span></p>
                <p>E-mail:</p>
                <p><%-info[0].email%></p>
            </div>
            <div class="share ">
                <div class="bdsharebuttonbox">
                    <a href="/#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="/#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                    <a href="/#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="/#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer over -->
<!-- copy -->
<div class="copy">
    <div class="container">
        <ul>
            <span>
                <!-- <img src="/static/home/f.png" alt="" /> -->
            </span>
            <a href="/contact">
                <li class="nor">联系我们</li></a>
                <!-- <a href="../../../images/add-somemember-step1.jpg" download="Video.mp4">点击下载</a> -->
        </ul>
        <p class="k5"><a target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index">备案号：苏ICP备17056573号-1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>Corpright @ 版权所有 苏州爱恩吉新能源有限公司
    </div>
</div>
<!-- copy over -->