<!--header -->
<div id="header">
    <a href="/home" class="logo">
        <img src="/static/home/logo.png" alt="" /></a>
    <div class="wapBtn">
        <div class="bn">
            <span class="bn1"></span>
            <span class="bn2"></span>
            <span class="bn3"></span>
        </div>
    </div>
    <ul class="nav">
        <li class="<% if (item === 'home') {%> on <% } %>">
            <a href="/home" class="title">首页</a></li>
        <li class="<% if (item === 'about') {%> on <% } %>">
            <a href="/about" class="title">关于我们</a>
            <div class="list">
                <div class="bg"></div>
                <div class="listBox">
                    <div class="listChild">
                        <a href="/about?as=k1">董事长寄语</a></div>
                    <div class="listChild">
                        <a href="/about?as=k2">公司简介</a></div>
                    <div class="listChild">
                        <a href="/about?as=k3">组织架构</a></div>
                    <div class="listChild">
                        <a href="/about?as=k4">质量管理</a></div>
                    <div class="listChild">
                        <a href="/about?as=k5">工厂管理</a></div>
                </div>
            </div>
        </li>
        <li class="<% if (item === 'product') {%> on <% } %>">
            <a href="/product" class="title">产品中心</a>
            <div class="list" style="display:block;">
                <div class="bg"></div>
                <div class="listBox" id="cate">
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">截止阀&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=83&amp;k=0">仪表阀/针型截止阀</a></dd>
                        <dd>
                            <a href="/product?pid=82&amp;k=0">低温真空夹套截止阀</a></dd>
                        <dd>
                            <a href="/product?pid=81&amp;k=0">低温三通截止阀</a></dd>
                        <dd>
                            <a href="/product?pid=80&amp;k=0">低温角式截止阀</a></dd>
                        <dd>
                            <a href="/product?pid=79&amp;k=0">低温长轴截止阀</a></dd>
                        <dd>
                            <a href="/product?pid=78&amp;k=0">低温短轴截止阀</a></dd>
                        <dd>
                            <a href="/product?pid=125&amp;k=0">低温高压截止阀</a></dd>
                    </dl>
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">止回阀&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=122&amp;k=1">低温升降直通式止回阀</a></dd>
                        <dd>
                            <a href="/product?pid=123&amp;k=1">低温真空夹套升降式止回阀</a></dd>
                        <dd>
                            <a href="/product?pid=126&amp;k=1">低温高压止回阀</a></dd>
                    </dl>
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">紧急切断阀&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=84&amp;k=2">低温紧急切断阀</a></dd>
                        <dd>
                            <a href="/product?pid=124&amp;k=2">低温真空夹套紧急切断阀</a></dd>
                        <dd>
                            <a href="/product?pid=127&amp;k=2">低温高压紧急切断阀</a></dd>
                    </dl>
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">安全阀&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=36&amp;k=3">低温微启式安全阀</a></dd>
                        <dd>
                            <a href="/product?pid=77&amp;k=3">低温罐箱安全阀</a></dd>
                        <dd>
                            <a href="/product?pid=76&amp;k=3">低温全启式安全阀</a></dd>
                        <dd>
                            <a href="/product?pid=128&amp;k=3">低温全启式高压安全阀</a></dd>
                    </dl>
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">减压阀&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=94&amp;k=4">低温升压调压阀</a></dd>
                        <dd>
                            <a href="/product?pid=95&amp;k=4">低温降压调压阀</a></dd>
                    </dl>
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">球阀&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=88&amp;k=5">高压球阀</a></dd>
                        <dd>
                            <a href="/product?pid=87&amp;k=5">低温罐箱球阀</a></dd>
                        <dd>
                            <a href="/product?pid=86&amp;k=5">低温三通球阀</a></dd>
                        <dd>
                            <a href="/product?pid=85&amp;k=5">低温球阀</a></dd>
                        <dd>
                            <a href="/product?pid=89&amp;k=5">低温紧急脱离球阀</a></dd>
                    </dl>
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">拉断阀&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=93&amp;k=6">低温拉断阀</a></dd>
                    </dl>
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">加液回气装置&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=101&amp;k=7">低温加液枪</a></dd>
                        <dd>
                            <a href="/product?pid=102&amp;k=7">低温加液口</a></dd>
                        <dd>
                            <a href="/product?pid=103&amp;k=7">低温回气枪</a></dd>
                        <dd>
                            <a href="/product?pid=104&amp;k=7">低温回气口</a></dd>
                    </dl>
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">LNG气瓶专用阀&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=96&amp;k=8">低温截止阀</a></dd>
                        <dd>
                            <a href="/product?pid=97&amp;k=8">低温止回阀</a></dd>
                        <dd>
                            <a href="/product?pid=98&amp;k=8">低温安全阀</a></dd>
                        <dd>
                            <a href="/product?pid=99&amp;k=8">低温减压阀</a></dd>
                        <dd>
                            <a href="/product?pid=100&amp;k=8">低温过流阀</a></dd>
                    </dl>
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">特殊阀及管路附件&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=119&amp;k=9">低温组合充罐阀</a></dd>
                        <dd>
                            <a href="/product?pid=117&amp;k=9">低温充罐装置</a></dd>
                        <dd>
                            <a href="/product?pid=116&amp;k=9">低温快充接头</a></dd>
                        <dd>
                            <a href="/product?pid=120&amp;k=9">低温管道阻火器</a></dd>
                    </dl>
                    <dl style="height: 219px;">
                        <dt>
                            <a href="javascript:void(0)">车用高压氢气装置&gt;</a></dt>
                        <dd>
                            <a href="/product?pid=110&amp;k=10">车用高压氢气集成瓶阀</a></dd>
                        <dd>
                            <a href="/product?pid=111&amp;k=10">车用压缩氢气加注口</a></dd>
                        <dd>
                            <a href="/product?pid=112&amp;k=10">车用压缩氢气单向阀</a></dd>
                        <dd>
                            <a href="/product?pid=113&amp;k=10">氢气减压阀</a></dd>
                        <dd>
                            <a href="/product?pid=114&amp;k=10">氢气加气枪</a></dd>
                    </dl>
                </div>
            </div>
        </li>
        <li class="<% if (item === 'news') {%> on <% } %>">
            <a href="/news" class="title">新闻中心</a>
            <div class="list">
                <div class="bg"></div>
                <div class="listBox">
                    <div class="listChild">
                        <a href="/news?pid=28">集团新闻</a></div>
                    <div class="listChild">
                        <a href="/news?pid=1">公司新闻</a></div>
                    <div class="listChild">
                        <a href="/news?pid=35">行业动态</a></div>
                </div>
            </div>
        </li>
        <li class="<% if (item === 'contact') {%> on <% } %>">
            <a href="/contact" class="title">联系我们</a></li>
    </ul>
    <div class="bigBox00"></div>
</div>
<div class="kong"></div>
<!-- header over -->
<!-- notice -->
<div class="notice" style="opacity: 1;">
    <ul>
        <li title="联系客服">
            <a href="tencent://message/?uin=3400732001" target="_blank">
                <span>
                    <img src="./static/home/no1_hover.png" class="two" alt="" /></span>
            </a>
        </li>
        <li>
            <span>
                <img src="./static/home/no2_hover.png" class="two" alt="" /></span>
            <a href="#/">
                <p>0512−58982291</p>
            </a>
        </li>
        <li>
            <span>
                <img src="./static/home/no3_hover.png" class="two" alt="" /></span>
            <a href="#/">
                <p>majun@valve.furuise.com</p>
            </a>
        </li>
        <li title="常见问题">
            <a href="/contact">
                <span>
                    <img src="./static/home/no4_hover.png" class="two" alt="" /></span>
            </a>
        </li>
        <li class="five" title="返回顶部">
            <span onclick="base.urlhref({'element':'body','time':1200})">
                <img src="./static/home/no5_hover.png" class="two" alt="" /></span>
        </li>
    </ul>
</div>
<!-- notice over -->