<!--header -->
<div id="header">
    <a href="/home" class="logo">
        <img src="/static/home/logo.png" alt="" /></a>
    <div class="wapBtn" style="display: none">
        <div class="bn">
            <span class="bn1"></span>
            <span class="bn2"></span>
            <span class="bn3"></span>
        </div>
    </div>
    <ul class="nav">
        <li class="<% if (item === 'home') {%> on <% } %>">
            <a href="/home" class="title">首页</a></li>
        <li class="<% if (item === 'about') {%> on <% } %>">
            <a href="/about" class="title">关于我们</a>
            <div class="list">
                <div class="bg"></div>
                <div class="listBox">
                    <div class="listChild">
                        <a href="/about?as=k1">董事长寄语</a></div>
                    <div class="listChild">
                        <a href="/about?as=k2">公司简介</a></div>
                    <div class="listChild">
                        <a href="/about?as=k3">组织架构</a></div>
                    <div class="listChild">
                        <a href="/about?as=k4">质量管理</a></div>
                    <div class="listChild">
                        <a href="/about?as=k5">工厂管理</a></div>
                </div>
            </div>
        </li>
        <li class="<% if (item === 'product') {%> on <% } %>">
            <a href="/product" class="title">产品中心</a>
            <div class="list" style="display:block;">
                <div class="bg"></div>
                <div class="listBox" id="cate">
                    <% type1.forEach(function (item) { %>
                        <dl style="height: 219px;">
                            <dt>
                                <a href="javascript:void(0)"><%-item.title%>&gt;</a>
                            </dt>
                            <% type2.forEach(function (items) { if (items.type1Id === item.id) { %>
                                <dd>
                                    <a href="/product?type1=<%-item.id%>&type2=<%-items.id%>"><%-items.title%></a>
                                </dd>
                            <% }}) %>
                        </dl>
                    <% }) %>
                </div>
            </div>
        </li>
        <li class="<% if (item === 'news') {%> on <% } %>">
            <a href="/news" class="title">新闻中心</a>
            <div class="list">
                <div class="bg"></div>
                <div class="listBox">
                    <div class="listChild">
                        <a href="/news?type=1">公司新闻</a></div>
                    <div class="listChild">
                        <a href="/news?type=2">行业动态</a></div>
                </div>
            </div>
        </li>
        <li class="<% if (item === 'contact') {%> on <% } %>">
            <a href="/contact" class="title">联系我们</a>
        </li>
        <li class="<% if (item === 'down') {%> on <% } %>">
            <a href="/down" class="title">下载中心</a>
        </li>
    </ul>
    <div class="bigBox00"></div>
</div>
<div class="kong"></div>
<!-- header over -->
<!-- notice -->
<div class="notice" style="opacity: 1;">
    <ul>
        <li title="联系客服">
            <a href="tencent://message/?uin=<%-info[0].qq%>" target="_blank">
                <span>
                    <img src="/static/home/no1_hover.png" class="two" alt="" /></span>
            </a>
        </li>
        <li>
            <span>
                <img src="/static/home/no2_hover.png" class="two" alt="" /></span>
            <a href="#/">
                <p><%-info[0].phone%></p>
            </a>
        </li>
        <li>
            <span>
                <img src="/static/home/no3_hover.png" class="two" alt="" /></span>
            <a href="#/">
                <p><%-info[0].email%></p>
            </a>
        </li>
        <li title="常见问题">
            <a href="/contact">
                <span>
                    <img src="/static/home/no4_hover.png" class="two" alt="" /></span>
            </a>
        </li>
        <li class="five" title="返回顶部">
            <span onclick="base.urlhref({'element':'body','time':1200})">
                <img src="/static/home/no5_hover.png" class="two" alt="" /></span>
        </li>
    </ul>
</div>
<!-- notice over -->